[Unit]
Description=podlaz daemon
Documentation=man:podlazd(8) https://github.com/AidarKhusainov/podlaz/tree/master/docs
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/podlazd
Restart=on-failure
RestartSec=2s
User=root
Group=podlaz
UMask=0077
Environment=PODLAZ_SERVICE=systemd
RuntimeDirectory=podlaz
RuntimeDirectoryMode=0711
StateDirectory=podlaz
StateDirectoryMode=0700
NoNewPrivileges=yes
CapabilityBoundingSet=CAP_CHOWN CAP_SETUID CAP_SETGID CAP_NET_ADMIN
AmbientCapabilities=
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
ProtectControlGroups=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
StandardOutput=journal
StandardError=journal
SyslogIdentifier=podlazd

[Install]
WantedBy=multi-user.target
